{% include 'base.html'%}

<footer class="bg-dark text-light py-4">
          <div class="container text-center">
              <p>&copy; 2023 LaptopFriendly.London</p>
              <div class="d-flex gap-3 justify-content-center">
                  <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
              </div>
          </div>
</footer>