{% include 'base.html' %}
<body>
     {% include 'navbar.html' %}
     {% include 'header.html' %}
     <div class = "container text-center mt-5" id="landing" >
            <section class="row justify-content-center text-center">
              <div class="col-sm-4 mb-4">
                <div class="icon-container mb-3">
                  <i class="fa fa-fw fa-laptop fa-2x text-primary"></i>
                </div>
                <h3 class="fs-4">Be Productive</h3>
                <p>Find venues with reliable <strong>Wi-Fi</strong>, ample <strong>power sockets</strong>, and comfy <strong>seating areas</strong>.</p>
              </div>
              <div class="col-sm-4 mb-4">
                <div class="icon-container mb-3">
                  <i class="far fa-fw fa-smile fa-2x text-primary"></i>
                </div>
                <h3 class="fs-4">Feel Welcome</h3>
                <p>Discover the <strong>best times to work</strong>, based on community data.</p>
              </div>
              <div class="col-sm-4 mb-4">
                <div class="icon-container mb-3">
                  <i class="fa fa-fw fa-lightbulb fa-2x text-primary"></i>
                </div>
                <h3 class="fs-4">Stay Inspired</h3>
                <p>Uncover new places with <strong>laid-back ambiance</strong>, and <strong>friendly vibes</strong>.</p>
              </div>
            </section>
            <hr>
          <section class="row justify-content-center mt-5">
             <div class="col-md-8">
               <p class="font-large">LaptopFriendly partners with local <strong>venues that appreciate and support the remote worker culture</strong>. All locations are carefully inspected and manually approved by our curation team.</p>
             </div>
          </section>
           <hr>
          <section class="mt-5">
                <h2>How it Works</h2>
                  <div class="row">
                    <div class="col-sm-6 padding-top-40">
                      <a href="/cities"><img class="benefit" alt="Map of Work-Friendly Locations" src="/static/img/map-e3b473419971ff37dcca82995d1d5e88704786ea9c9fe707ab26db1fd0d05bcb.png">
                      </a><h3>Find Local Work Hubs</h3>
                      <p>Quiet? Air conditioned? Well lit? Get stuff done in a fresh, new <strong>environment that’s optimized for you</strong>!</p>
                    </div>
                   <div class="col-sm-6 padding-top-40">
                     <a href="/users/register"><img class="benefit" alt="LaptopFriendly Community" src="/static/img/community-a5347b785afdf8ded4ce962abe19e86dbab4846c0ac0ec70da4dea08c206c944.jpg">
                     </a><h3>Meet Like-Minded People</h3>
                     <p>Connect with talented <strong>freelancers</strong>, <strong>digital nomads</strong>, and other <strong>remote workers</strong> sharing our spaces.</p>
                   </div>
                </div>
          </section>
     </div>
      {% include 'footer.html' %}
</body>
